# ignore actual source code, because it is supplied by the generator test
src/main/*
lib/

# ignore generated tests
*.generated.scala

#ignore serializedTestfiles
src/test/resources/serializedTestfiles/

*.class
*.log


# PDT-specific
.buildpath

*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
.*
!.gitignore
*~

# sbt project
project/**
!project/plugins.sbt
target/**


# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies


# more gitignore stuff

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# Mac OS X
.DS_Store
